body{
    background: #f2f6e9;
    padding: 0;
    margin: 0;
}
.navbar{
    background: #6ab446;
}
.menulogo{
    background: #6ab446;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    position: relative;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    padding: 0.5rem 1rem;
}
.nav-link,.logo{
    font-size: large;
    color: #fff;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    color: #000;
}
.nav-link:active{
    color: #000;
}
.navbar-collapse{
    justify-content: flex-end;
}
.ggg{
    border:none;
}

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.form-control{
    border-radius: 0;
}
 .btn{
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}
 .btn:hover{
    background-color: #333;
    border:1px solid #333;
}
@media (max-width: 767.98px) {
    .menulogo > .container,
    .menulogo > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  @media (min-width: 768px) {
    .menulogo {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .menulogo .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .menulogo .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .menulogo .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .menulogo > .container,
    .menulogo > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    .menulogo .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .menulogo .navbar-toggler {
      display: none;
    }
  }
  